@model WebStore.Models.Employee

@{ 
    Layout = "_LayoutEmployees";
    ViewBag.Title = "Details"; 
}


<h4>Детальная информация по сотруднику:</h4>
<hr />
<table class="table">
    <tbody>
        <tr>
            <td>Id сотрудника:</td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>Фамилия:</td>
            <td>@Model.LastName</td>
        </tr>
        <tr>
            <td>Имя:</td>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <td>Отчество:</td>
            <td>@Model.Patronymic</td>
        </tr>
        <tr>
            <td>Дата рождения:</td>
            <td>@Model.BirthDate.ToShortDateString()</td>
        </tr>
        <tr>
            <td>Возраст:</td>
            <td>@Model.Age</td>
        </tr>
        <tr>
            <td>Дата найма:</td>
            <td>@Model.HireDate.ToShortDateString()</td>
        </tr>
        <tr>
            <td>Город проживания:</td>
            <td>@Model.City</td>
        </tr>
    </tbody>
</table>
<hr />

@if (User.IsInRole(Role.Administrator))
{
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Редактировать</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Удалить</a>
}

<hr />
<a asp-controller="Employees" asp-action="Index">Назад к списку</a>
<hr />